<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <p><strong>User</strong>: <%= posts.userName %></p>
            <!-- <p><%= posts[i].user%></p> -->
            <p><%= posts[i].title%></p>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid hoverable" src="<%= posts[i].image%>">
            </a>
            <!-- add post captions -->
            <p><%= posts[i].caption%></p>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>